# Flutter
.build/
.dart_tool/
.packages
.pub/
build/

# Android
.gradle/
local.properties
*.keystore
*.jks
android/key.properties

# iOS
Pods/
Runner.xcworkspace/

# IDE
.idea/
.vscode/
*.iml

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# Misc
.DS_Store
